
<!-- jsHeader -->
<script src='http://echarts.baidu.com/doc/example/www/js/echarts.js'></script>
<!-- jsHeader -->


<!-- divChart -->
<div id='TEMPID' style='DIVSIZE ;border:1px solid #ccc;padding:10px;'></div>

<!-- jsChart -->
<script>

   require.config({
        paths:{ 
            'echarts': 'http://echarts.baidu.com/build/dist'
        }
    });
    
    // Step:4 require echarts and use it in the callback.
    require(
        [
            'echarts',
            'echarts/chart/bar',
            'echarts/chart/line',
            'echarts/chart/scatter',
            'echarts/chart/k',
            'echarts/chart/pie',
            'echarts/chart/map',
            'echarts/chart/force',
            'echarts/chart/radar'
        ],
	function(ec) {
		var EChart_TEMPID = ec.init(document.getElementById('TEMPID'))
		var option_TEMPID = 
<!--JSONHERE-->
  EChart_TEMPID.setOption(option_TEMPID);
        }
    );
</script>



