export(eArea)
export(eBar)
export(eForce)
export(eLine)
export(eMap)
export(ePie)
export(ePoints)
export(eRadar)
export(pause)
export(plot.recharts)
export(print.recharts)
export(recharts.init)
export(recharts.shiny.init)
export(renderEcharts)
