S3method("+", echarts)
export(eArea)
export(eWordcloud)
export(eBar)
export(eForce)
export(eFunnel)
export(eLine)
export(eMap)
export(ePie)
export(ePoints)
export(eRadar)
export(pause)
export(eOption)
export(renderEChart)
export(eChartOutput)
export(is.option)
export(option)
export(eCalculable)
export(eLegend)
export(eTooltip)
export(eTitle)
export(eToolbox)
export(eDataRange)
export(eTheme)
export(eAxis.X)
export(eAxis.Y)
export(ePolar)
export("%+%")
export("lazyPlot")
export("strstrip")
export("%>%")
importFrom(magrittr,"%>%")
